body, html {
    margin: 0px;
    height: 100%;
    width: 100%;
    font-size: 20px;
}

.btn {
    color: #414444;
    padding: 10px;
    min-width: 28%;
    margin: 5px;
    border: 1px solid #c6c6c6;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
}

.btns {
    padding: 10px;
    width: 90%;
    box-sizing: border-box;
    display: inline-block;
    border-top: 0;
    margin-top: -1px;
}

.btn-l {
    background-color: #2196F3;
    border-color: #2196f3;
    color: #fff;
}

.calc {
    text-align: center;
    padding: 10px;
}

#output {
    padding: 10px;
    border-radius: 2px;
    outline: none;
    width: 90%;
    box-sizing: border-box;
    text-align: right;
}

.shadowed {
    border: 1px solid #c6c6c6;
    box-shadow: inset 0px 0px 4px 1px #e5e5e5;
}

